#toc_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#toc {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

#toc a {
    font-size: 12px !important;
    color: #1b1f23;
    font-weight: normal !important;
    font-style: normal !important;
    text-transform: none !important;
    display: block !important;
    text-decoration: none !important;
    background: none !important;
    border: 0 !important;
    padding: 5px !important;
}